*{
	padding: 0;
	margin: 0;
	font-family: BookmanOldStyle;
}

@font-face {
	font-family: BookmanOldStyle;
	src: url(BOOKOS.TTF);
}

body {
	background: #ccffff;
}

nav {
		background: #006600;
	  width: auto;	
}
  nav ul{}
    
    #home {
      float: left;
      list-style-type: none;
      text-align: left;
      font-size: 26px;
      color: white;
      Padding: 10px;
    }
    
    #home:hover {
      background: white;
      color: black;
      cursor: pointer;
    }
    
    #signin {
      float: right;
      list-style-type: none;
      text-align: right;
      font-size: 26px;
      color: white;
      Padding: 10px;
    }
    #signin:hover {
      background: white;
      color: black;
      cursor: pointer;
    }

h1 {
  width: auto;
  height: 350px;
  background: white;
}
