<!DOCTYPE html>
<html>
  <head>
    <title>Dickson Family Recipes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
    <nav>
			<ul>
			  <li id="home">Home</li>
			  <li id="signin">Sign In</li>
			  
					<div style="clear:both;"></div>
			</ul>
		</nav>
      
      
    <%= yield %>
    </div>
  </body>
</html>
